---
name: Portfolio v1
on:
  push:
    branches: [ main ]
jobs:
  build-and-deploy: 
    name: Build and Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Build
      run: npm install

    - name: Deploy
      run: |
        git config --global user.name 'Aaren Pan'
        git config --global user.email 'apan1015.cs@gmail.com'
        git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
        npm run deploy
      env: 
        REACT_APP_SERVICE_ID: ${{ secrets.REACT_APP_SERVICE_ID }}
        REACT_APP_TEMPLATE_ID: ${{ secrets.REACT_APP_TEMPLATE_ID }}
        REACT_APP_PUBLIC_KEY: ${{ secrets.REACT_APP_PUBLIC_KEY }}